@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

#text {
    color: #9AD2FA;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 33px;
}

#input {
    color:#9AD2FA;
}

#button {
    background-color: #FFD166;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
}

#meniu1{
    display: block;
}
#meniu2{
    display: none;
}

.container1{
    margin-top: 142px;
    margin-right: 25px;
}

.container2{
   /* position: relative;
   bottom: 37px;
   right: 40px; */
   width: 360px;
}

#footer{
    color:#3A8AC3;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    top: 288px;
    display: block;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    position: relative;
    top: 60px;
}

@media(max-width:700px){
    #meniu1{
        display: none;
    }
    #meniu2{
        display: block;
    }
    
}

@media (max-width: 1199px) {
    .container1 {
       
    }
    
}

@media (max-width: 991px) {
     .container1  {
        position: relative;
        top: -60px;
    } 

    .container2 {
       position: relative;
        left: -24px;
    } 
}

@media(max-width: 767px) {
    #text {
      font-size: 25px;
   }
}



    
