@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

#text {
    color: #9AD2FA;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 33px;
    display: flex;
    justify-content: flex-start;
    margin-top: 142px;
    margin-left: 30px;
}

#input {
    display: flex;
    justify-content: flex-end;
    width: 380px;
}

#button {
    background-color: #FFD166;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
}

#meniu1{
    display: block;
}
#meniu2{
    display: none;
}

@media(max-width:700px){
    #meniu1{
        display: none;
    }
    #meniu2{
        display: block;
    }
}