@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

#text {
    color: #9AD2FA;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 33px;
}

#input {
    color:#9AD2FA;
}

#button {
    background-color: #FFD166;
    border-radius: 5px;
    width: 120px;
    height: 50px;
}

#meniu1{
    display: block;
}
#meniu2{
    display: none;
}

.container1{
    margin-top: 142px;
    margin-right: 25px;
}

.container2{
   /* position: relative;
   bottom: 37px;
   right: 40px; */
   width: 360px;
}

#footer{
    color:#3A8AC3;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    top: 288px;
    display: block;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    position: relative;
    top: 60px;
}

#formGroupExampleInput4{
    resize: none;
    
}


/* MEDIA QUERIES */
@media(max-width:700px){   
    #meniu1{
        display: none;
    }
    #meniu2{
        display: block;
        background-color: #252525;
    }
    #meniu2 a {
        color: #d9d9d9;
    }

    #toggle {
        background-color: #d9d9d9;
    }

    #closeBtn {
      background-color: #d9d9d9;
    }

    #list {
        background-color: #1e1e1e;
    }

     /* .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #252525;
        border: 1px solid transparent;
        border-radius: 4px;
     }
      */
     /* .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        background-color:#252525;
        border-radius: 1px;
     }
     
     .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 4px;
     } */
}



@media (max-width: 991px) {
     .container1  {
        position: relative;
        top: -60px;
    } 

    .container2 {
       position: relative;
        left: -24px;
        width: 400px;
    } 

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media(max-width: 767px) {
    #text {
      font-size: 25px;
   }

   .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
}


/* iphone 13 pro max */
@media(max-width: 430px) {
    .container1 {
        margin-left: 20px;
    }

   #text {
    font-size: 20px;
   }

    .container2 {
        margin-left: 37px;
        width: 308px;
    }

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #button {
    width: 120px;
    height: 50px;
    color: #242424;
    }
}


/* iphone 12 pro */
@media(max-width: 390px) {
    .container1 {
        margin-left: 20px;
    }

   #text {
    font-size: 18px;
   }

    .container2 {
        margin-left: 37px;
        width: 290px;
    }
}



    
