@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.background {
   background-color: #252525;
}

#title {
    color: #FFD166;
    border-bottom-style: solid;
    border-bottom-color:#FFD166 ;
    border-bottom-width: 2px;
    width: 235px;
    text-align: center;
    padding-bottom: 10px;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

#hyperlinks{
    color: #9AD2FA;
    margin-top: 40px;
}

.hl {
    margin-left: 40px;
     margin-right: 40px;
     font-family:'Roboto', sans-serif;
     font-weight: 500;
     font-size:larger;
}

.hl a {
    text-decoration: none !important;
    color:#9AD2FA;
}

#drones {
    border-bottom-style: solid;
    border-bottom-width: 2px;
     border-bottom-color:#9AD2FA ;
     text-align: center;
     padding-bottom: 10px;
}

main{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

#drone{
    width: 470px;
    height: 500px;
    margin-top: 80px;
}

.card-body {
    background-color: #9AD2FA;
    border-radius: 5px;
}

.card-title {
    position: relative;
    display: block;
    top: -47px;
}

#button {
    background-color: #FFD166;
    color: #252525;
    border-radius: 12px;
    width: 50px;
    height: 32px;
    border-style: none;
    display: block;
    position: relative;
    top: -87px;
    left: 362px;
}

#img1 {
    /* background-image: url('https://raw.githubusercontent.com/ttt8605/Rarresfpv/main/poze/wp10467059.jpg'); */
    height: 340px;
}

#img2 {
    height: 340px;
}

#img3 {
    height: 340px;
}

#footer{
    color:#FFD166;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

