@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



main{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}

#drone{
    width: 470px;
    height: 500px;
    margin-top: 80px;
}

.boxes{
    margin-top: 90px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    width: 450px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-right: 25px;
}

.box-1section{
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url('https://raw.githubusercontent.com/ttt8605/Rarresfpv/main/poze/wp10467165.jpg');
  background-size: cover; /* You can use other values like 'contain' or specific dimensions */
  background-position: center; /* You can adjust the positioning as needed */
  background-repeat: no-repeat; /* Prevent the image from repeating if it's smaller than the div */
 
}
.card-title{
    font-family: 'Roboto',sans-serif;
     font-weight: 700;
     font-size: 18px;
     color: #495057;
     margin-right: 20px;
     position: relative;
     top: 146px;
     left: 21px;
     width: 416px;
}

.button{
    background-color: #FFD166;
    color: #252525;
    border-radius: 12px;
    width: 117px;
    height: 35px;
    border-style: none;
    display: block;
    position: relative;
   top: 140px;
right: 40px;
}

.box-2section{
    height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9AD2FA;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content{
    padding-top: 5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size:16px;
    color: #252525;
    text-align: center;
}


#img1 {
    /* background-image: url('https://raw.githubusercontent.com/ttt8605/Rarresfpv/main/poze/wp10467059.jpg'); */
    height: 340px;
}

#img2 {
    height: 340px;
}

#img3 {
    height: 340px;
}


#button {
    background-color: #FFD166;
    color: #252525;
    border-radius: 12px;
    width: 50px;
    height: 32px;
    border-style: none;
    display: block;
    position: relative;
    top: -87px;
    left: 362px;
}





#footer{
    color:#3A8AC3;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    top: 180px;
    display: block;
}

/* meniu queris */
#meniu1{
    display: block;
}
#meniu2{
    display: none;
}

@media(max-width:600px){
    #meniu1{
        display: none;
    }
    #meniu2{
        display: block;
    }
}

@media (min-width:320px) {

}

@media (min-width:641px) {

}

@media (min-width:1025px) {

}

@media (min-width:1281px) {
  
}
