@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.background {
   background-color: #252525;
}

#title { 
    color: #F2F2F2;
    width: 235px;
    text-align: center;
    padding-bottom: 10px;
    font-family:'Russo One';
    font-weight: 400;
    font-size: 50px;
    margin-top: 10px;
    position:relative;
    top: 10px;
    left: 120px;
}

#title a {
    text-decoration: none !important;
    color: #f2f2f2;
}

#hyperlinks{
    color: #f2f2f2;
    /* margin-right: 100px;
    margin-top: 60px; */
    position:relative;
    top: 25px;
    right: 120px;
    display: flex;
    justify-content: flex-end;
}

#hl {
    /* margin-left: 40px; */
     margin-right: 35px;
     margin-top: -38px;
     font-family:'Roboto', sans-serif;
     font-weight: 500;
     font-size: larger;
     color: #f2f2f2 !important;
     
    }

#hl a {
    text-decoration: none !important;
    color:#3A8AC3 !important;
}

#contact a {
    color:#252525 !important;
    background-color: #FFD166;
    text-decoration: none !important;
    font-family:'Roboto', sans-serif;
     font-weight: 500;
     font-size:larger;
     border-radius: 10px;
     border-color: #FFD166;
     margin-top: -44px;
}

#drones {
    border-bottom-style: solid;
    border-bottom-width: 2px;
     border-bottom-color:#9AD2FA ;
     text-align: center;
     padding-bottom: 10px;
}

.profileText{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #d9d9d9;
    width: 800px;
    margin-top: 66px;
}

/* #social {
    margin-left: 48px;
}

#fb {
    margin-top: -115px;
    padding: 10px;
}

#ig {
    margin-top: -115px;
    padding: 10px;
}

#lin {
    margin-top: -115px;
    padding: 10px;
}

#yt {
    width: 50px;
    margin-top: -115px;
    padding: 10px;
} */



