@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  background-color: #252525;
}

main{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

header{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     /* margin-top: 20px; */
     position: relative;
     background-color: #373737 ;
     width: 100%;
     height: 630px;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
}

.offcanvas-body{
    margin-top: 50px;
    background-color: #252525;
}

.nav-item{
    margin-top: 20px;
}

#fastlinksMobile{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: larger;
    color: #f2f2f2 !important;
}

/* menu queries */

#meniu1{
    display: block;
    width: 100%;

}

#description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#meniu2{
    display: none;
}

.pages{
     width: 289px; 
}

.media{
     margin-left: 20px;
     color: #3A8AC3;
}

#fastLinks{
     text-decoration: none;
     color: #252525;
     font-family: 'Roboto',sans-serif;
     font-weight: 300;
     font-size:17px;
}

.but1{
     background-color: #FFD166;
     color: #252525;
     border-radius: 12px;
     width: 116px;
     height: 40px;
     border-style: none;
}

/* .aboutDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 70px;
} */

hr{
  color: #f2f2f2;
  width: 50%;
}

#description {
    width: 70%;
    height: 490px;
  }

.profile{
    height: 290px;
    width: 290px;
    margin-top: 10px;
    margin-right: 60px;
}

.profileText{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #d9d9d9;
    width: 650px;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    left: 70px;
}

.projectIntro{
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    position: relative;
    left: -35px;
    /* margin-left: 10px; */
}

.projectTitle{
    margin-top: 15px;
    color: #3A8AC3;
    font-size: 2.4em;
}

.twoImgRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
}

.img1{
    background-color: #9AD2FA;
    width: 100%;
    height: 455px;
    margin-top: 130px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-image: url('https://raw.githubusercontent.com/ttt8605/Rarresfpv/main/poze/wp10467075.jpg');    /* rezolva path urile pt poze */
    background-size: cover; /* You can use other values like 'contain' or specific dimensions */
    background-position: center; /* You can adjust the positioning as needed */
    background-repeat: no-repeat; /* Prevent the image from repeating if it's smaller than the div */
  }


  .img1Text{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #f2f2f2;
    margin-right: 20px;
    position: relative;
    top: 385px;
    left: 43px;
    width: 600px;
}


.img2{
    background-color: #9AD2FA;
    width: 600px;
   height: 460px;
    margin-top: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: url('https://raw.githubusercontent.com/ttt8605/Rarresfpv/main/poze/wp10467165.jpg');
    background-size: cover; /* You can use other values like 'contain' or specific dimensions */
    background-position: center; /* You can adjust the positioning as needed */
    background-repeat: no-repeat; /* Prevent the image from repeating if it's smaller than the div */
  }
  
  .img2:first-child{
   margin-right: 5px;
}

  .img2Button{
    font-family: 'Roboto',sans-serif;
    color: #f2f2f2;
    background-color: transparent;
    border-style: none;
    font-weight: 500;
    font-size: 30px;
    position: relative;
   top: 185px;
}

.img2Text{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #f2f2f2;
    position: relative;
    width: 70%;
    top: 190px;
}

.AddMoreButton{
    border-style: none;
    background-color: #3A8AC3;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: #f2f2f2;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 80px;
}

  .AddMoreSection{
    width: 90%;
    max-height: 0; /* Initially hide the section */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 1s ease; /* Add transition for smooth animation */
}

.visibleImages{
    width: 90%;
}

.smallSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.letsWork {
    margin-top: 130px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    position: relative;
    left: -35px;
    margin-bottom: 150px;
}

.proposal {
    font-family:'Russo One';
    margin-top: 15px;
    color: #3A8AC3;
    font-size: 2.5em;
}

.contact-link{
    margin-top: 10px;
    border-style: none;
    background-color: #FFD166;
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

#contactButton{
    color:#252525 !important;
    background-color: #FFD166;
    text-decoration: none !important;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size:larger;
}

/* .line{
    width: 50%;
    color: #d9d9d9;
   
}

.line2{
    width: 50%;
    color: #d9d9d9;
} */

/* .boutMe{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size:15px;
    color: #3A8AC3;
    width: 172px;
    margin: 20px;
    padding: 10px;
    border-color: #3A8AC3;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
}

.boutMeText{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size:17px;
    color: #d0d0d0;
    width: 40%;
    text-align: center;
    margin-top: 100px;
} */


/* ---- FOOTER ---- */
#footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #373737;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.footerText{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(217, 217, 217, 0.5);

}

.social{
    width: 215px;

}
p{
    margin-top: 0;
   margin-bottom: 0rem;  
}



/* ---- MEDIA QUERIES ---- */
@media(max-width: 1230px){
    .img2{
        width: 500px;
        height: 450px;
    }

    .projectIntro {
      position: relative;
      left: -5px;
    }

    .letsWork {
        position: relative;
        left: -5px;
    }
}

@media(max-width: 1222px) {
    .profileText{
        font-size: 20px;
    }

    .profile {
    height: 240px;
    width: 240px;
    position: relative;
    left: -30px;
    }
}

@media(max-width: 1187px){
 .profile{
    height: 220px;
    width: 220px;
 }

 .profileText {
    font-size: 19px;
 }
}

@media(max-width:1024px){
.profileText{
  font-size: 20px;
}

.img1Text{
    font-size: 13px;
    width: 354px;
}



.social{
    width: 215px;

}

}

@media(max-width: 991px) {
  .profile{
    height: 200px;
    width: 200px;
  }

  .profileText{
    font-size: 18px;
  }
}

@media(max-width:911px){
    #meniu1{
        display: none;
    }
    
    #meniu2{               
         display: block;
     }

     .container-fluid{
        background-color: #373737 ;
        width: 100%;
        height: 90px;
     }

     #title {
        font-size: 45px;
        position: relative;
        left: 47px;
        top: 8px;
        color: #f2f2f2 !important;
    }

    .profile{
        margin-left: 95px;
    }

    .profileText{
        font-size: 15px;
        width: 500px;
        margin-top: 30px; 
        position: relative; 
        left: 0px;
        text-align: center;
        margin-right: 0px;
    }

    #description{
        flex-direction: column;
        margin-top: 100px;
        justify-content: space-evenly;
        align-items: center;
    }

    .social{
      width: 220px;

    }
}


@media(max-width:767px){
      #toggle{
        background-color: #373737;
     } 
 
     #closeBtn {
       background-color: #FFD166;
     }
 
     #list {
         background-color: #373737;
         /* display: flex;
         justify-content: start;
         align-items: start;
         position: relative;
         top: 100px; */
     }

     .social{
        width: 200px;

     }

     #contactButton{
        font-size: large;
     }
 }


@media(max-width:674px){
    .fastLinks{
         font-size: 13px;
    }

    .pages {
         width: 240px;
     }

    .but1{
         width: 92px;
        height: 37px;
    }
    
    .title{
         font-size: 25px;
    }

    #title {
        font-size: 35px;
        position: relative;
        left: 25px;
        top: 4px;
    }

    header{
        height: 535px;
    }
    
    .profile{
         height: 195px;
    }

    /* .profileText {
         font-size: 12px;
         width: 422px;
         margin-top: 47px;
     } */

    

  .img2:first-child{
    margin-right: 0px;
  }

    .img2Button{
         width:83px ;
    }

    .projectIntro{
        margin-top: 70px;
        position: relative;
        left: 10px;
        display: flex;
        /* justify-content: start;
        align-items: center; */
        flex-direction: row;
        width: 90%;
    }
    
    .projectTitle{
        color: #3A8AC3;
        font-size: 30px;
    }

    #letsWork{
        margin-top: 70px;
        position: relative;
        left: 10px;
    }

    .proposal{
        font-size: 1.8em;
     }

    #contactButton{
        font-size: large;
     }

    #Ylink{
        font-size: 15px;
    }
    
    .img2{
        width: 441px;
        height: 307px;
    }

     .img1Text{
         font-size: 12px;
         width: 300px;
         display: flex;
         align-content: flex-start;
    }

    .twoImgRow{
        margin-top: 30px;
    }

    .img2Button{
        top: 105px;
    }

    .img2Text{
        top: 105px;
    }
  
     #hl{
       text-decoration: none;
       color: #252525;
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
       font-size: 17px;
     }

     .AddMoreButton{
        width: 125px;
        height: 40px;
     }

      #footer {
     margin-top: 30px;
     }

     .footerText{
      font-size: 13px;
   
     }

     .social{
      width: 200px;
  
     }

     .media{
      width: 22px;
     }
}

/* @media(max-width: 630px) {
    .footerText{
        font-size: 14px;
      }
 
      .social{
       width: 180px;
       position: relative;
       top: 34px;
       left: 30px;
       margin-left: 10px;
      }
 
      .media{
         width: 20px;
      }
} */

/* @media(max-width: 600px) {
    #footer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerText{
        font-size: 14px;
      }
 
      .social{
       width: 180px;
       /* position: relative;
       top: 34px;
       left: 30px; */
       /* margin-left: 10px; 
      }
 
      .media{
         width: 20px;
      }
} */

@media(max-width: 550px) {
    .footerText{
        font-size: 12px;
    
       }

       #footer{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
     } 
     .social{
        margin-top: 5px;
        width: 190px;
     }

    .media{
     width: 17px;
     }
}

@media(max-width: 500px){
    .profileText{
        width: 370px;
        font-size: 13px;
    }

    .projectTitle{
        color: #3A8AC3;
        font-size: 25px;
    }

    .proposal{
        font-size: 1.6em;
     }

   
   
     /* !!!!!! */
       
       .media{
        width: 19px;
       }
}

@media(max-width:450px){
    .but1{
     width: 100px;
     height: 31px;
     border-radius:8px;
    }

    header{
        height: 433px;
    }

    .container-fluid{
        height: 64px;
    }

    #title{
        font-size: 25px;
    }


    .fastLinks{
         margin-right: 13px;
         font-size: 12px;
    }

    /* .pages{
         width: 212px;
    } */

    .title {
         font-size: 25px;
         margin-top: 75px;
     }

     .profile{
         margin-top: 17px;
         height: 180px;
         position: relative;
         left: -5px;
     }

     .profileText {
         font-size: 12px;
         width: 297px;
         margin-top: 40px;
         text-align: center;
     }

     .projectIntro{
        position: relative;
        left: 17px;
    }
    
    .projectTitle{
        color: #3A8AC3;
        font-size: 20px;
    }

    #Ylink {
        font-size: 13px;
    }

    #letsWork{
        margin-top: 70px;
        position: relative;
        left: 17px;
    }

    .proposal{
        font-size: 1.7em;
     }
     
     .img1 {
         height: 315px;
         margin-top: 54px;
     }

     .img1Text {
         font-size: 11px;
         width: 209px;
         position: relative;
         top: 223px;
         left: 26px;
     }
     
    .img2 {
         height: 215px;
         width: 85%;
         margin-top: 45px;
     }

     .img2Text {
        font-size: 11px;
        top: 73px;
         left: 15px;
     }

     .img2Button {
        font-size: 26px;
         top: 58px;
         left: 1px;
     }
}
