<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>heloooo</h1>

    <% for(let drone of drones){ %>
        <h3>name: <%= drone.name %></h3>
        <h3>engine: <%= drone.engine %></h3>
        <h3>components: <%= drone.components %></h3>
        <h3>description: <%= drone.description %></h3>
        <% } %>
    
</body>
</html>